In [2]:
import pandas as pd
import numpy as np
import warnings
beml_df = pd.read_csv('BEML.csv')
beml_df[0:5]

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42

In [3]:
glaxo_df = pd.read_csv('GLAXO.csv')
glaxo_df[0:5]

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [6]:
glaxo_df['gain'] = glaxo_df.Close.pct_change(periods = 1)
beml_df['gain'] = beml_df.Close.pct_change(periods = 1)
glaxo_df.head(5)

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),gain
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74,NaN
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58,-0.005444
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09,0.013422
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00,0.006225
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11,-0.005398

In [7]:
beml_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs),gain
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18,NaN
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47,-0.000881
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84,0.004407
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98,0.003993
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42,-0.000087

In [8]:
glaxo_df = glaxo_df.dropna()
beml_df = beml_df.dropna()

In [7]:
print('Daily gain of Glaxo')
print('---------------------')
print('Mean: ', round(glaxo_df.gain.mean(), 4))
print('Standard Deviation: ', round(glaxo_df.gain.std(), 4))

Daily gain of Glaxo
---------------------
Mean:  0.0004
Standard Deviation:  0.0134

In [8]:
print('Daily gain of BEML')
print('---------------------')
print('Mean: ', round(beml_df.gain.mean(), 4))
print('Standard Deviation: ', round(beml_df.gain.std(), 4))

Daily gain of BEML
---------------------
Mean:  0.0003
Standard Deviation:  0.0264

In [9]:
beml_df.gain.describe()

count    1738.000000
mean        0.000271
std         0.026431
min        -0.133940
25%        -0.013736
50%        -0.001541
75%         0.011985
max         0.198329
Name: gain, dtype: float64

In [9]:
!pip install scipy

Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (1.6.2)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from scipy) (1.19.2)

In [10]:
from scipy import stats
glaxo_df_ci = stats.norm.interval(0.95,loc = glaxo_df.gain.mean(),scale = glaxo_df.gain.std())
print('Gain at 95% confidence interval is: ', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is:  [-0.0258  0.0266]

In [11]:
beml_df_ci = stats.norm.interval(0.95,loc=beml_df.gain.mean(),scale=beml_df.gain.std())
print('Gain at 95% confidence interval is:', np.round(beml_df_ci, 4))

Gain at 95% confidence interval is: [-0.0515  0.0521]